*{ 
   padding: 0;
   margin: 0; 
}body {
   background-color:#fff;
   font-family: 'Roboto';
}.inner  {
   padding: 100px 50px;
}.navbar {
   position: fixed;
   width: 100%;
}#profile {
   margin-left: 20px;
}a img , .col-1 img{
   height: 30px;
   width: 30px;
   margin-top: 5px ;
}.col-1 img{
   height: 20px;
   width: 20px;
   opacity: 60%;
}a.navbar-brand {
   font-family: 'ABeeZee', sans-serif;
}.websites {
   padding: 0;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}.messages {
   background-color:red;
   padding: 14px;
   font-size: 20px;
}.messages ul li {
   list-style: none;
}.websites .content  {
   width: 100%;
   padding: 20px;
}a {
   color: #000;
}a:hover {
   text-decoration: none;
   color: #5ce1e6;
}.websites .content a h1 {  
   font-size: 30px;
   font-weight: bolder;
   padding-bottom: 10px ;
   margin: 0;
} .col-10, .col-1 {
   padding: 0;
}

#sticky {
   transition: 600ms;
}

.quote-box {
   position: relative;
   padding: 0;
   width: 100%;
}.column-quote {
   width: 100%;
   background-color:#222222;
   height: auto;
   padding: 40px;
   margin:0;
}.quote {
   font-size:30px;
   font-weight:bold;
   line-height: 1;
   text-align: center;
   color: #fff;
   font-family: 'Roboto';
}.quetation {
    font-size: 70px;
    color: #7ed957;
}

.row {
   margin: 0;
   max-width: 100%;
}#add_form.col-12{
   padding: 40px 90px 0 90px;
}p {
   display: flex;
}label {
   width: 30%;
   font-size: 20px;
   font-weight: bolder;
}input {
   width: 40%;
}#add-button {
   text-align: center;
}


